# Database connection string
DATABASE_URI=mongodb://127.0.0.1/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

ENDPOINT=YOUR_SECRET_HERE
GROQ_API_KEY=YOUR_SECRET_HERE
GROQ_MODEL=YOUR_SECRET_HERE
PEXELS_API_KEY=YOUR_SECRET_HERE
SPEECH_KEY=YOUR_SECRET_HERE
SPEECH_REGION=YOUR_SECRET_HERE
SPEECH_VOICE=YOUR_SECRET_HERE
